.buttonPane {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.button {
    background-color: blue;
    width: 130px;
    height: 30px;
    border-radius: 10px;
}

.buttonReady {
    color: white;
}

.buttonUnready {
    color: grey;
}

.selected {
    border: 3px solid white;
}