.page {
    display: flex;
    flex-direction: column;
}

.body {
    background-color: #545454;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.title {
    align-self: center;
    font-size: 40px;
    padding: 10px;
}

.playPane {
    align-self: center;
    width: 500px;
}

.leaderboardPane {
    align-self: center;
}

.howToPlayPane {
    align-self: center;
    width: 500px;
}
